target
**/*.rs.bk
.idea
*.iml
/result*
/sample_projects/*/result
crate2nix/result*
/*.json
*.log
*~

# cachix tmp file
store-path-pre-build

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

template/flake.lock
