name: "tests-nix-macos"
on:
  pull_request:
  push:
jobs:
  tests:
    strategy:
      matrix:
        platform:
          - macos-15
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
      with:
        install_url: "https://releases.nixos.org/nix/nix-2.33.0/install"
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v16
      with:
        name: eigenvalue
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - run: "./run_tests.sh --no-cargo-build"
    - run: "nix --version"
    - run: "nix flake check -L"
    - run: "nix run . -- --help"
