name: "tests-nix-linux"
on:
  pull_request:
  push:
jobs:
  tests:
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v22
      with:
          nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v13
      with:
        name: eigenvalue
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - run: "./run_tests.sh --no-cargo-build"
    - run: "nix --version"
    - run: "nix flake check"
    - run: "nix run . -- --help"
